* {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  color: #e5e7eb
}

ul {
  list-style-type: none;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

.content > div,header,footer {
  border: red 2px dotted;
  padding-left: 20%;
  padding-right: 20%;
}

.content > div {
  flex: content;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1vh;
  background: #1f2937;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* logo */
.header-left {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header-right ul {
  display: flex;
  gap: 24px;
}

.hero {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px;
  padding-top: 64px;
  padding-bottom: 96px;
}

.hero-left,
.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hero .title {
  font-size: 48px;
  font-weight: 900;
  color:#f9faf8;
}

.hero .subtext,
.hero button,
.hero-right {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left {
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  gap: 8px;
}

.hero button {
  background: #3882f6;
  font-weight: bold;
  border: none;
  border-radius: 12px; /* makes button round */
  padding: 8px 24px;
}

a:hover,
button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero-right {
  text-align: center;
  background: #6d747d;
}

.section-1 * {
  color: black;
}

.section-1 {
  display: flex;
  flex-direction: column;
}

.section-1 .title {
  font-size: 36px;
  font-weight: bold;
  padding: 64px 0;
}

.section-1 .wrapper {
  /* border: purple 2px dotted; */
  display: flex;
  gap: 64px;
  padding: 0 10%;
  padding-bottom: 64px;  
}

.section-1 .illustration {
  /* border: green 2px dotted; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.section-1 .image {
  flex: 1 0 auto;
  height: auto;
  border: 4px #3882f6 solid;
  border-radius: 16px;
}

/* dirty hack to make the box square */
.section-1 .image::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.section-1 .description {
  color: #4b5563;
  font-size: 18px;
}

footer {
  justify-content: center;
}